backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "products"
    label: "Products"
    folder: "products"
    create: true
    format: "json"
    extension: "json"
    fields:
      - { label: "Name", name: "name", widget: "string" }
      - { label: "Price (SGD)", name: "price", widget: "string" }
      - { label: "Image", name: "image", widget: "image" }
